@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
	--bg-body: #3f3f3f;
	--text1: #fff;
	--text2: #008080;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

html,
body {
	height: 100vh;
}

body {
	background-color: var(--bg-body);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
